<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"  aria-current="page" *ngIf="child_page">
                    <!-- <a [routerLink]="[childTwo?'/product-listing':'']"
                        [queryParams]="{'product-cat-id':product_cat_id}">
                        {{currentPage}}</a> -->
                    <a >{{current_page}} / {{child_page}}</a>
                    <!-- <a>Vendor Master</a> -->
                </li>
                <!-- <li class="breadcrumb-item" aria-current="page">
                  Vendor Master  </li> -->
            </ol>
        </nav>
    </div>
</div>
