<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-navbar></app-navbar>
            <!-- End of Topbar -->

            <app-breadcrumb-nav [child_page]="pageName"></app-breadcrumb-nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"> Manual Store In Request</h1>
                    <app-breadcrumb-nav [child_page]="pageName"></app-breadcrumb-nav>
                </div> -->

                <!-- Content Row -->
                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Request Details :</h6>
                            </div>

                            <!-- Card Body -->
                            <div class="card-body">
                                <div clas="container">
                                    <form [formGroup]="storeInForm">
                                        <div class="grid formgrid p-fluid">
                                            <!-- <div class="field mb-4 col-12">
                                                <label [for]="materialCategory" class="font-medium text-900"> Material Category:</label>
                                                <input type="radio" [(ngModel)]="materialCategory" value="2" formControlName="materialCategory" />Dip
                                                Roll
                                                <input type="radio" [(ngModel)]="materialCategory" value="1" formControlName="materialCategory" />Wire
                                
                                              
                                                <span class="error"
                                                    *ngIf="storeInForm.controls['materialCategory'].touched && storeInForm.controls['materialCategory'].invalid">
                                                    Material Category required</span>
                                            </div> -->

                                            <div class="row manual-storein-radio">
                                                <div class="col-lg-2">
                                                    <label [for]="materialCategory" class="font-medium text-900">
                                                        Material Category:</label>
                                                </div>

                                                <!-- <div class="col-lg-3">
                                                    <input type="radio" [(ngModel)]="materialCategory" value="2"
                                                        formControlName="materialCategory" />Dip
                                                    Roll
                                                    <input type="radio" [(ngModel)]="materialCategory" value="1"
                                                        formControlName="materialCategory" />Wire
                                                    <span class="error"
                                                        *ngIf="storeInForm.controls['materialCategory'].touched && storeInForm.controls['materialCategory'].invalid">
                                                        Material Category required</span>
                                                </div> -->
                                                <div class="col-sm-9">
                                                    <label *ngFor="let radiobutton of radioItems"
                                                        formControlName="materialCategory" name="options" ngDefaultControl>
                                                        <input type="radio" 
                                                            (click)="materialCategory = radiobutton.GRP_COD"
                                                            [checked]="radiobutton.GRP_COD === materialCategory">{{radiobutton.GRP_DESC}}
                                                    </label>
                                                    <span class="error"
                                                        *ngIf="storeInForm.controls['materialCategory'].touched && storeInForm.controls['materialCategory'].invalid">
                                                        Material Category required</span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-5">
                                                <!-- <label [for]="materialBarcode" class="font-medium text-900 label-w control-label"> Material Barcode:</label>
                                                <input type="text" [(ngModel)]="materialBarcode" formControlName="materialBarcode" />
                                                <span class="error"
                                                    *ngIf="storeInForm.controls['materialBarcode'].touched && storeInForm.controls['materialBarcode'].invalid">
                                                    Material Code required</span> &nbsp; -->

                                                <div class="row form-group">
                                                    <div class="col-lg-5">
                                                        <label [for]="materialBarcode"
                                                            class="font-medium text-900  control-label"> Material
                                                            Barcode:</label>
                                                    </div>

                                                    <div class="input-group col-lg-7">

                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="materialBarcode"
                                                            formControlName="materialBarcode" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['materialBarcode'].touched && storeInForm.controls['materialBarcode'].invalid">
                                                            Material Barcode is required</span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-4">

                                                <div class="row form-group">
                                                    <div class="col-lg-3">

                                                        <label [for]="weight"
                                                            class="font-medium text-900 control-label">Weight:</label>
                                                    </div>

                                                    <div class="input-group col-lg-9">
                                                        <input type="text" class="form-control" [(ngModel)]="weight"
                                                            formControlName="weight" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['weight'].touched && storeInForm.controls['weight'].invalid">
                                                            Weight is required</span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <div class="row form-group">
                                                    <div class="col-lg-3">
                                                        <label [for]="uomKG"
                                                            class="font-medium control-labeltext-900">UOM:</label>
                                                    </div>

                                                    <div class="input-group col-lg-9">

                                                        <input type="text" class="form-control" [(ngModel)]="uomKG"
                                                            formControlName="uomKG" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['uomKG'].touched && storeInForm.controls['uomKG'].invalid">
                                                            UOM is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-5">

                                                <div class="row form-group">
                                                    <div class="col-lg-5">
                                                        <label [for]="materialCode"
                                                            class="font-medium text-900 control-label"> Material
                                                            Code:</label>
                                                    </div>

                                                    <div class="input-group col-lg-7">
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="materialCode" formControlName="materialCode" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['materialCode'].touched && storeInForm.controls['materialCode'].invalid">
                                                            Material Code required</span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="row form-group">
                                                    <div class="col-lg-3">
                                                        <label [for]="length"
                                                            class="font-medium text-900 control-label">Length:</label>
                                                    </div>
                                                    <div class="input-group col-lg-9">

                                                        <input type="text" class="form-control" [(ngModel)]="length"
                                                            formControlName="length" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['length'].touched && storeInForm.controls['length'].invalid">
                                                            Length is required</span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-2">
                                                <div class="row form-group">
                                                    <div class="col-lg-3">
                                                        <label [for]="uomMeter"
                                                            class="font-medium text-900 control-label">UOM: </label>
                                                    </div>

                                                    <div class="input-group col-lg-9">

                                                        <input type="text" class="form-control" [(ngModel)]="uomMeter"
                                                            formControlName="uomMeter" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['uomMeter'].touched && storeInForm.controls['uomMeter'].invalid">
                                                            UOM is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--  -->

                                        <div class="row">
                                            <div class="col-lg-5">

                                                <div class="row form-group">
                                                    <div class="col-lg-5">

                                                        <label [for]="materialDesc"
                                                            class="font-medium text-900 control-label"> Material
                                                            Description:</label>
                                                    </div>

                                                    <div class="input-group col-lg-7">
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="materialDesc" formControlName="materialDesc" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['materialDesc'].touched && storeInForm.controls['materialDesc'].invalid">
                                                            Material Description required</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">


                                                <div class="row form-group">
                                                    <div class="col-lg-3">
                                                        <label [for]="noOfSpool"
                                                            class="font-medium text-900 contro control-label">No Of
                                                            Spool/Box:</label>
                                                    </div>

                                                    <div class="input-group col-lg-9">

                                                        <input type="text" class="form-control" [(ngModel)]="noOfSpool"
                                                            formControlName="noOfSpool" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['noOfSpool'].touched && storeInForm.controls['noOfSpool'].invalid">
                                                            No Of Spool/Box is required</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <div class="row form-group">
                                                    <div class="col-lg-3">
                                                        <label [for]="uomNos"
                                                            class="font-medium text-900 control-label">UOM:</label>
                                                    </div>

                                                    <div class="input-group col-lg-9">

                                                        <input type="text" class="form-control" [(ngModel)]="uomNos"
                                                            formControlName="uomNos" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['uomNos'].touched && storeInForm.controls['uomNos'].invalid">
                                                            UOM is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!--  -->
                                        <div class="row">
                                            <div class="col-lg-5">

                                                <div class="row form-group">
                                                    <div class="col-lg-5">
                                                        <label [for]="materialType"
                                                            class="font-medium text-900 control-label"> Material
                                                            Type:</label>
                                                    </div>

                                                    <!-- <div class="input-group col-lg-7">
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="materialType" formControlName="materialType" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['materialType'].touched && storeInForm.controls['materialType'].invalid">
                                                            Material Type required</span>
                                                    </div> -->
                                                    <div class="input-group col-lg-7">

                                                        <select class="form-control" name="Name"
                                                            formControlName="materialType" [(ngModel)]="materialType">
                                                            <option value="0" disabled selected>Select</option>
                                                            <option *ngFor="let tablename of materialTypeList"
                                                                [value]="tablename.GPARM_VALUE">
                                                                {{tablename.GPARM_VALUE}}</option>
                                                        </select>
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['materialType'].touched && storeInForm.controls['materialType'].invalid">
                                                            Pallet Type required</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">


                                                <div class="row form-group">
                                                    <div class="col-lg-3">
                                                        <label [for]="materialStatus"
                                                            class="font-medium text-900 control-label"> Material
                                                            Status:</label>
                                                    </div>

                                                    <div class="input-group col-lg-9">

                                                        <select class="form-control" formControlName="materialStatus"
                                                            [(ngModel)]="materialStatus">
                                                            <option value="">Select</option>
                                                            <option *ngFor="let tablename of m_StatusItems"
                                                            [value]="tablename.GPARM_VALUE">
                                                                {{tablename.GPARM_VALUE}}</option>
                                                        </select>
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['materialStatus'].touched && storeInForm.controls['materialStatus'].invalid">
                                                            Material Status required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-3">
                                    
                                 

                                        <div class="row form-group">
                                            <div class="col-lg-3">
                                                <label [for]="uomMeter" class="font-medium text-900 control-label">pending:</label>
                                            </div>
                                           
                                            <div class="input-group col-lg-9">
                                                               
                                                <input type="text" class="form-control" [(ngModel)]="uomMeter" formControlName="uomMeter" />
                                                <span class="error"
                                                    *ngIf="storeInForm.controls['uomMeter'].touched && storeInForm.controls['uomMeter'].invalid">
                                                    UOM is required</span>
                                            </div>
                                         </div>
                                 </div> -->

                                        <!--  -->


                                        <div class="row">
                                            <div class="col-lg-5">

                                                <div class="row form-group">
                                                    <div class="col-lg-5">

                                                        <label [for]="dom" class="font-medium text-900 control-label">
                                                            DOM:</label>
                                                    </div>

                                                    <div class="input-group col-lg-7">
                                                        <input type="date" class="form-control" [(ngModel)]="dom"
                                                            formControlName="dom" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['dom'].touched && storeInForm.controls['dom'].invalid">
                                                            DOE required</span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="row form-group">
                                                    <div class="col-lg-4">
                                                        <label [for]="partial"
                                                            class="font-medium text-900 control-label">Partial:</label>
                                                    </div>

                                                    <div class="input-group col-lg-8">

                                                        <!-- <label *ngFor="let chkBox of chkBox">
                                                <input type="checkbox"  class="form-control" name="options" (click)="partial = chkBox" [checked]="chkBox === partial"
                                                    formControlName="partial">{{chkBox}}
                                            </label>
                                            <span class="error"
                                                *ngIf="storeInForm.controls['partial'].touched && storeInForm.controls['partial'].invalid">
                                                Partial is required</span> -->



                                                        <input type="radio" [(ngModel)]="partial" value="2"
                                                            formControlName="partial" />Yes
                                                        <input type="radio" [(ngModel)]="partial" value="1"
                                                            formControlName="partial" />No
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['partial'].touched && storeInForm.controls['partial'].invalid">
                                                            Partial required</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="col-lg-3">
                                
                             

                                    <div class="row form-group">
                                        <div class="col-lg-3">
                                            <label [for]="uomNos" class="font-medium text-900 control-label">UOM:</label>
                                        </div>
                                       
                                        <div class="input-group col-lg-9">
                                                           
                                            <input type="text" class="form-control" [(ngModel)]="uomNos" formControlName="uomNos" />
                                            <span class="error"
                                                *ngIf="storeInForm.controls['uomNos'].touched && storeInForm.controls['uomNos'].invalid">
                                                UOM is required</span>
                                        </div>
                                     </div>
                             </div> -->
                                        </div>



                                        <div class="row">
                                            <div class="col-lg-5">

                                                <div class="row form-group">
                                                    <div class="col-lg-5">
                                                        <label [for]="doe" class="font-medium text-900 control-label">
                                                            DOE:</label>
                                                    </div>

                                                    <div class="input-group col-lg-7">
                                                        <input type="date" class="form-control" [(ngModel)]="doe"
                                                            formControlName="doe" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['doe'].touched && storeInForm.controls['doe'].invalid">
                                                            Doe is required</span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">


                                                <div class="row form-group">
                                                    <div class="col-lg-5">

                                                        <label [for]="transactionID"
                                                            class="font-medium text-900 control-label">Transaction
                                                            ID:</label>

                                                    </div>

                                                    <div class="input-group col-lg-7">

                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="transactionID"
                                                            formControlName="transactionID" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['transactionID'].touched && storeInForm.controls['transactionID'].invalid">
                                                            Transaction ID is required</span>
                                                    </div>
                                                </div>



                                            </div>

                                            <!-- <div class="col-lg-3">
                            
                         

                                <div class="row form-group">
                                    <div class="col-lg-3">
                                        <label [for]="uomNos" class="font-medium text-900 control-label">UOM:</label>
                                    </div>
                                   
                                    <div class="input-group col-lg-9">
                                                       
                                        <input type="text" class="form-control" [(ngModel)]="uomNos" formControlName="uomNos" />
                                        <span class="error"
                                            *ngIf="storeInForm.controls['uomNos'].touched && storeInForm.controls['uomNos'].invalid">
                                            UOM is required</span>
                                    </div>
                                 </div>
                         </div> -->
                                        </div>



                                        <div class="row">
                                            <div class="col-lg-5">

                                                <div class="row form-group">
                                                    <div class="col-lg-5">


                                                        <label [for]="vendorCode"
                                                            class="font-medium text-900 control-label"> Vendor
                                                            Code:</label>

                                                    </div>

                                                    <div class="input-group col-lg-7">
                                                        <input type="text" class="form-control" [(ngModel)]="vendorCode"
                                                            formControlName="vendorCode" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['vendorCode'].touched && storeInForm.controls['vendorCode'].invalid">
                                                            Vendor Code required</span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">


                                                <div class="row form-group">
                                                    <div class="col-lg-5">

                                                        <label [for]="projectID"
                                                            class="font-medium text-900 control-label">Project
                                                            ID:</label>

                                                    </div>

                                                    <div class="input-group col-lg-7">


                                                        <input type="text" class="form-control" [(ngModel)]="projectID"
                                                            formControlName="projectID" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['projectID'].touched && storeInForm.controls['projectID'].invalid">
                                                            Project ID required</span>
                                                    </div>
                                                </div>



                                            </div>

                                            <!-- <div class="col-lg-3">
                        
                     

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label [for]="uomNos" class="font-medium text-900 control-label">UOM:</label>
                                </div>
                               
                                <div class="input-group col-lg-9">
                                                   
                                    <input type="text" class="form-control" [(ngModel)]="uomNos" formControlName="uomNos" />
                                    <span class="error"
                                        *ngIf="storeInForm.controls['uomNos'].touched && storeInForm.controls['uomNos'].invalid">
                                        UOM is required</span>
                                </div>
                             </div>
                     </div> -->
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-5">

                                                <div class="row form-group">
                                                    <div class="col-lg-5">


                                                        <label [for]="vendordesc"
                                                            class="font-medium text-900 control-label"> Vendor
                                                            Description:</label>

                                                    </div>

                                                    <div class="input-group col-lg-7">


                                                        <input type="text" class="form-control" [(ngModel)]="vendordesc"
                                                            formControlName="vendordesc" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['vendordesc'].touched && storeInForm.controls['vendordesc'].invalid">
                                                            Vendor Description required</span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">


                                                <div class="row form-group">
                                                    <div class="col-lg-5">

                                                        <label [for]="dor"
                                                            class="font-medium text-900 control-label">DOR :</label>

                                                    </div>

                                                    <div class="input-group col-lg-7">


                                                        <input type="date" class="form-control" [(ngModel)]="dor"
                                                            formControlName="dor" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['dor'].touched && storeInForm.controls['dor'].invalid">
                                                            DOR is required</span>


                                                    </div>
                                                </div>



                                            </div>

                                            <!-- <div class="col-lg-3">
                        
                     

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label [for]="uomNos" class="font-medium text-900 control-label">UOM:</label>
                                </div>
                               
                                <div class="input-group col-lg-9">
                                                   
                                    <input type="text" class="form-control" [(ngModel)]="uomNos" formControlName="uomNos" />
                                    <span class="error"
                                        *ngIf="storeInForm.controls['uomNos'].touched && storeInForm.controls['uomNos'].invalid">
                                        UOM is required</span>
                                </div>
                             </div>
                     </div> -->
                                        </div>




                                        <div class="row">
                                            <div class="col-lg-5">

                                                <div class="row form-group">
                                                    <div class="col-lg-5">

                                                        <label [for]="dipRollNo"
                                                            class="font-medium text-900 control-label">Deep Roll
                                                            No:</label>

                                                    </div>

                                                    <div class="input-group col-lg-7">

                                                        <input type="text" class="form-control" [(ngModel)]="dipRollNo"
                                                            formControlName="dipRollNo" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['dipRollNo'].touched && storeInForm.controls['dipRollNo'].invalid">
                                                            Deep Roll No required</span>



                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">


                                                <div class="row form-group">
                                                    <div class="col-lg-5">

                                                        <label [for]="grnNo"
                                                            class="font-medium text-900 control-label">GRN No:</label>

                                                    </div>

                                                    <div class="input-group col-lg-7">

                                                        <input type="text" class="form-control" [(ngModel)]="grnNo"
                                                            formControlName="grnNo" />
                                                        <span class="error"
                                                            *ngIf="storeInForm.controls['grnNo'].touched && storeInForm.controls['grnNo'].invalid">
                                                            GRN No is required</span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-2 "></div>
                                            <div class="col-sm-10   submit-button">
                                                <button type="submit" class="btn btn-primary "
                                                    style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;"
                                                    (click)="Add()" aria-pressed="true">Add</button>

                                                <button type="submit" class=" btn btn-info"
                                                    style="padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;"
                                                    (click)="Reset()"> Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Details grid start-->
            <div class="container-fluid">
                <div class="tab-content">
                    <div id="storeout" class="">
                        <div class="card shadow mb-4">
                            <div class="card-header d-sm-flex py-3 justify-content-between ">
                                <h6 class="m-0 font-weight-bold" style="color:#fff; padding: 5px 0 0 0;">Manual Store In
                                    Requests</h6>
                                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i Class="fas fa-download fa-sm text-white-50"></i> Export Excel</a> -->
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">

                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr style="background-color:  #eeebf6; color: #361374;">
                                                <!-- <th>Action</th>
                                                <th>Order Ref No</th>
                                                <th>Order Type</th>
                                                <th>SKU Code</th>
                                                <th>Batch No</th>
                                                <th>Quantity</th>
                                                <th>SKU_Wt</th>
                                                <th>UOM</th>
                                                <th>MFG Date</th>
                                                <th>Supplier Code</th> -->

                                                <th>Action</th>
                                                <th>Trans ID</th>
                                                <th>Material Code</th>
                                                <th>Pallet ID</th>
                                                <th>QTY</th>
                                                <th>DOM</th>
                                                <th>DOE</th>
                                                <th>Status</th>
                                                <th>Material Type</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr style="background-color:  #eeebf6; color: #361374;">
                                                <th>Action</th>
                                                <th>Trans ID</th>
                                                <th>Material Code</th>
                                                <th>Pallet ID</th>
                                                <th>QTY</th>
                                                <th>DOM</th>
                                                <th>DOE</th>
                                                <th>Status</th>
                                                <th>Material Type</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox small">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customCheck">
                                                        <label class="custom-control-label" for="customCheck"></label>
                                                    </div>
                                                </td>
                                                <td>122334</td>
                                                <td>IN</td>
                                                <td>FG100034</td>
                                                <td>B001</td>
                                                <td>400</td>
                                                <td>50kg</td>
                                                <td>--</td>
                                                <td>12-03-2021</td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox small">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customCheck">
                                                        <label class="custom-control-label" for="customCheck"></label>
                                                    </div>
                                                </td>
                                                <td>132334</td>
                                                <td>IN</td>
                                                <td>FG100035</td>
                                                <td>B002</td>
                                                <td>500</td>
                                                <td>70kg</td>
                                                <td>--</td>
                                                <td>12-03-2021</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Details grid end -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span></span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>