.error {
    font-size: 12px;
    color: red;
  }
  
  .label-w{
    width: 40%;
  }

  label {
    display: inline-block;
  
    font-size: 16px;
    color: #0a0a0a;
    font-weight: 600;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: auto;
  min-width: 0;
  margin-bottom: 0;
}

.manual-storein-radio .input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin: -8px 10px 0 7px;
  color: black;
}
.manual-storein-radio{
  padding: 0 0 24px 0;
}