.sidebar .nav-item .nav-link span {
    font-size: 13px;
    display: inline;
    color: #fff;
    font-weight: 500;
}

.form-control{
    width: 100%;
}
.error {
    font-size: 12px;
    color: red;
  }

  .table-responsive{
    /* max-height: 250px;  */
    height: 250px;
    /* overflow-y: scroll; */
  }


  .table-responsive thead{
    position: sticky;
    top :0;
    z-index: 1;
    white-space:nowrap;
    height: 36px;
    
}

  #footer{
    margin-top: 100px;
    margin-bottom: 0px;
    }
    
    .sticky-footer {
        flex-shrink: 0;
        background-color: #fff;
        height: 100px;
        position: sticky;
        bottom: 0;
        z-index: 999;
      }
    
    
      .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        padding-right: 40px;
      }
    
      /* .footer-text {
        text-align: right;
        margin-bottom: 25px;
      } */
    
      .footer-logo {
        width: 200px;
        height: 100px;
        margin-bottom: 5px;
      }
    
      .footerword{
        margin-bottom: 65px;
        text-align: right;
      }
       
      #text{
        top: -29px;
        position: relative;
        /* margin-top: 21px; */
        display: inline;
        text-align: right;
      }  
      
      #wrapper {
        margin-left: 220px; 
        padding: 0px; 
        overflow-y: auto;
      }
