
	<div class="main">
		

		<!-- <div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.username">
				<input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">
				<input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password">
				<button (click)="onSingUp()">Sign up</button>
			</form>
		</div> -->

		<!-- <div class="signup">
			<form [formGroup]="loginForm">
				<label for="chk" aria-hidden="true">Login</label>
				<div class="input-group col-sm-12">
				<input type="text" placeholder="Username" formControlName="username" [(ngModel)]="username" >

				<span clas="error"
				*ngIf="loginForm.controls['username'].touched  && loginForm.controls['username'].invalid"
				>
				Username is required
				</span>
				</div>
				<div class="input-group col-sm-12">
				<input type="password"  placeholder="Password" formControlName ="password" [(ngModel)]="password">
				<span clas="error"
				*ngIf="loginForm.controls['password'].touched  && loginForm.controls['password'].invalid"
				>
				Username is required
				</span>
				</div>
				<button  (click)=" login()">Login</button>
			</form>
		</div> -->


		<div class="login-page">
			<div class="form" >
				 <img src="/assets/img/godrej logo.png" alt="" style="margin-top: -22px; width: 215px;">
				 
			  <form  [formGroup]="loginForm" class="login-form">
				
				<input type="text" placeholder="Username" formControlName="username" [(ngModel)]="username" >
				<span class="error"
						*ngIf="loginForm.controls['username'].touched  && loginForm.controls['username'].invalid"
					>
					Username is required
				</span>
												
				<input type="password"  placeholder="Password" formControlName ="password" [(ngModel)]="password">
				<span class="error"
					*ngIf="loginForm.controls['password'].touched  && loginForm.controls['password'].invalid"
					>
					password is required
				</span>
				
				<button (click)="login()">Login</button>
				<!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
			  </form>
			  
			</div>
		  </div>
	</div>


