<!DOCTYPE html>
<html>

<head>
	<title>Slide Navbar</title>

	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<!-- <div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.username">
				<input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">
				<input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password">
				<button (click)="onSingUp()">Sign up</button>
			</form>
		</div> -->

		<div class="signup">
			<form [formGroup]="loginForm">
				<label for="chk" aria-hidden="true">Login</label>
				<div class="input-group col-sm-12">
				<input type="text" placeholder="Username" formControlName="username" [(ngModel)]="username" >

				<span clas="error"
				*ngIf="loginForm.controls['username'].touched  && loginForm.controls['username'].invalid"
				>
				Username is required
				</span>
				</div>
				<div class="input-group col-sm-12">
				<input type="password"  placeholder="Password" formControlName ="password" [(ngModel)]="password">
				<span clas="error"
				*ngIf="loginForm.controls['password'].touched  && loginForm.controls['password'].invalid"
				>
				Password is required
				</span>
				</div>
				<button  (click)="login()">Login</button>
			</form>
		</div>
	</div>
</body>

</html>


