<div >
    <table mat-table  [dataSource]="dataSource" *ngIf="isTableOpen" matSort  class="mat-elevation-z8">
     
      <ng-container matColumnDef="STK_PRD_COD">
        <th mat-header-cell *matHeaderCellDef style="background-color: #543f97; color: white;" mat-sort-header> STK_PRD_COD </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected': element.selected}" > {{element.STK_PRD_COD}} </td>
      </ng-container>
    
      <ng-container matColumnDef="STK_REC_POS">
        <th mat-header-cell *matHeaderCellDef style="background-color: #543f97; color: white;" mat-sort-header> STK_REC_POS </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected': element.selected}"> {{element.STK_REC_POS}} </td>
      </ng-container>
    
      <ng-container matColumnDef="PRD_DESC">
        <th mat-header-cell *matHeaderCellDef style="background-color: #543f97; color: white;" mat-sort-header> PRD_DESC </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected': element.selected}"> {{element.PRD_DESC}} </td>
      </ng-container>
    
      <!-- <tr *matNoDataRow>
        <td class="mat-cell" colspan="4">The Id You Are Looking For Does Not Exits 
          {{input.value}}
        </td>
      </tr> -->
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      tabindex="0" 
      (click)="onRowClicked(row)"
      ></tr>
  
      <!-- <tr tabindex="999" mat-row *matRowDef="let row; columns: displayedColumns;" (keydown)="tableKeydown($event)" (click)="selection.toggle(row)" [ngClass]="{'selected-pink': selection.isSelected(row)}"></tr> -->
    </table>
  
    <mat-paginator class="pagination" [hidden]="ishidden1" [length]="400"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
    aria-label="Select page"
    ></mat-paginator>
  </div>
  
    
    
     
      
      
      
      
      
    
  
