<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-navbar></app-navbar>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Master Data Entry</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Material Master Data Entry</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div clas="container" style="">
                                    <div id="form-content" class="col-md-8">
                                        <form id="survey-form" [formGroup]="masterForm">

                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label [for]="PRD_GRP_COD" class="font-medium text-900">
                                                        Material Category:</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <!-- <input type="radio" [(ngModel)]="materialCategory" value="2"
                                                        formControlName="materialCategory" />Dip
                                                    Roll
                                                    <input type="radio" [(ngModel)]="materialCategory" value="1"
                                                        formControlName="materialCategory" />Wire -->

                                                    <label *ngFor="let radiobutton of radioItems"
                                                        formControlName="PRD_GRP_COD" name="options" ngDefaultControl>
                                                        <input type="radio" (click)="PRD_GRP_COD = radiobutton.GRP_COD"
                                                            [checked]="radiobutton.GRP_COD === PRD_GRP_COD">{{radiobutton.GRP_DESC}}
                                                    </label>
                                                    <span class="error"
                                                        *ngIf="masterForm.controls['PRD_GRP_COD'].touched && masterForm.controls['PRD_GRP_COD'].invalid">
                                                        Material Category required</span>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-sm-3">
                                                    <label [for]="PRD_COD" class="font-medium text-900"> Material
                                                        Code:</label>
                                                </div>
                                                <div class="input-group col-sm-6">
                                                    <input id="name" type="text" [(ngModel)]="PRD_COD"
                                                        formControlName="PRD_COD" class="form-control"
                                                        name="Material Code" required>
                                                    <span class="error"
                                                        *ngIf="masterForm.controls['PRD_COD'].touched && masterForm.controls['PRD_COD'].invalid">
                                                        Material Code required</span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label id="email-label" [for]="PRD_DESC"
                                                        class=" control-label font-medium text-900"
                                                        name="Material Description"> Material Description:</label>
                                                </div>
                                                <div class="input-group col-sm-6">
                                                    <div class="input-group-prepend">
                                                    </div>
                                                    <input type="text" class="form-control " name="Material Description"
                                                        [(ngModel)]="PRD_DESC" formControlName="PRD_DESC" />
                                                    <span class="error"
                                                        *ngIf="masterForm.controls['PRD_DESC'].touched && masterForm.controls['PRD_DESC'].invalid">
                                                        Material Description required</span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label [for]="PRD_LENG"
                                                        class="font-medium text-900 control-label">Shelf Life:</label>
                                                </div>
                                                <div class="input-group col-sm-6">
                                                    <input type="text" [(ngModel)]="PRD_LENG" formControlName="PRD_LENG"
                                                        class="form-control" />
                                                    <span class="error"
                                                        *ngIf="masterForm.controls['PRD_LENG'].touched && masterForm.controls['PRD_LENG'].invalid">
                                                        Shelf Life required</span>
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label [for]="PRD_CTRL_TYPE" class="font-medium text-900">Vendor
                                                        Continuity:</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div >
                                                        <label *ngFor="let chkBox of chkBox"
                                                            class="form-check form-check-inline"
                                                            [(ngModel)]="PRD_CTRL_TYPE" formControlName="PRD_CTRL_TYPE"
                                                            ngDefaultControl>
                                                            <input type="checkbox" [checked]="chkBox.Value === PRD_CTRL_TYPE"
                                                                class="form-control" name="options" [value]="chkBox.Value" [disabled]="chkBox.disabled"  (click)="handleOptionClick(chkBox)">{{chkBox.Name}}
                                                        </label>
                                                        <!-- <span class="error"
                                                            *ngIf="masterForm.controls['PRD_CTRL_TYPE'].touched && masterForm.controls['PRD_CTRL_TYPE'].invalid">
                                                            Vendor Continuity required</span> -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <!-- <label [for]="shelfLife" class="font-medium text-900 control-label" >Shelf Life:</label> -->
                                                    <label [for]="PRD_PACK_QTY"
                                                        class="font-medium text-900 control-label">Number Off
                                                        Spool/Box:</label>
                                                </div>
                                                <div class="input-group col-sm-6">
                                                    <input class="form-control" type="text" [(ngModel)]="PRD_PACK_QTY"
                                                        formControlName="PRD_PACK_QTY" />
                                                    <span class="error"
                                                        *ngIf="masterForm.controls['PRD_PACK_QTY'].touched && masterForm.controls['PRD_PACK_QTY'].invalid">
                                                        Number Off Spool/Box required</span>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label [for]="PRD_MEAS_UNIT "
                                                        class="font-medium text-900 control-label">UOM:</label>
                                                </div>
                                                <div class="input-group col-sm-6">
                                                    <input class="form-control" type="text" [(ngModel)]="PRD_MEAS_UNIT "
                                                        formControlName="PRD_MEAS_UNIT" />
                                                    <span class="error"
                                                        *ngIf="masterForm.controls['PRD_MEAS_UNIT'].touched && masterForm.controls['PRD_MEAS_UNIT'].invalid">
                                                        UOM required</span>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-lg-3">
                                                    <label [for]="PRD_HUPT_ID"
                                                        class="font-medium text-900 control-label"> Pallet 
                                                        Type:</label>
                                                </div>

                                                <!-- <div class="input-group col-lg-6">

                                                    <select class="form-control" name="Name" formControlName="PRD_HUPT_ID"
                                                        [(ngModel)]="PRD_HUPT_ID">
                                                        <option value="0" disabled selected>Select</option>
                                                        <option *ngFor="let tablename of palletType" [value]="tablename.Id">
                                                            {{tablename.Type}}</option>
                                                    </select>
                                                    <span class="error"
                                                        *ngIf="masterForm.controls['PRD_HUPT_ID'].touched && masterForm.controls['PRD_HUPT_ID'].invalid">
                                                        Pallet Type required</span>
                                                </div> -->
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-3 "></div>
                                                <div class="col-sm-9   submit-button">
                                                    <button type="submit" class=" btn btn-primary"
                                                        style="  padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;"
                                                        (click)="Add()" aria-pressed="true">Add</button>
                                                    <button type="submit" class="btn btn-info"
                                                        style="  padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;"
                                                        (click)="Reset()"> Reset</button>
                                                    <!-- <button type="submit" class="col-6 col-offset-6" (click)="Add()">Add</button>
                                                  <button type="submit" class="col-6 col-offset-6" (click)="Reset()">Reset</button> -->
                                                </div>
                                            </div>
                                        </form> <!-- close form -->
                                    </div> <!-- close form content div -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->


            <!--Details grid start-->
            <div class="container-fluid">
                <div class="tab-content">
                    <div id="storeout" class="">
                        <div class="card shadow mb-4">
                            <div class="card-header d-sm-flex py-3 justify-content-between ">
                                <h6 class="m-0 font-weight-bold" style="color:#fff; padding: 5px 0 0 0;">Master Data
                                </h6>
                                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                        Class="fas fa-download fa-sm text-white-50"></i> Export Excel</a> -->
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr style="background-color:  #eeebf6; color: #361374;">
                                                <th>Action</th>
                                                <th>Material Code</th>
                                                <th>Material Category</th>
                                                <th>Material Description</th>
                                                <th>SHELF LIFE</th>
                                                <th>VENDOR CONTINUITY</th>
                                                <th>SPOOL/BOX</th>
                                                <th>UOM</th>
                                            </tr>
                                        </thead>
                                        <!-- <tfoot>
                                            <tr style="background-color:  #eeebf6; color: #361374;">
                                                <th>Action</th>
                                                <th>Material Code</th>
                                                <th>Material Category</th>
                                                <th>Material Description</th>
                                                <th>SHELF LIFE</th>
                                                <th>VENDOR CONTINUITY</th>
                                                <th>SPOOL/BOX</th>
                                                <th>UOM</th>
                                            </tr>
                                        </tfoot> -->
                                        <tbody *ngFor="let data of material">
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox small">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customCheck">
                                                        <label class="custom-control-label" for="customCheck"></label>
                                                    </div>
                                                </td>
                                                <td>{{data.PRD_COD}}</td>
                                                <td>{{data.PRD_GRP_COD}}</td>
                                                <td>{{data.PRD_DESC}}</td>
                                                <td>{{data.PRD_LENG}}</td>
                                                <td>{{data.PRD_CTRL_TYPE}}</td>
                                                <td>{{data.PRD_PACK_QTY}}</td>
                                                <td>{{data.PRD_MEAS_UNIT}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Details grid end -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>