/* #accordionSidebar{
    margin-bottom: 220%;
    width: 300px;
    height: 100%;
    transition: width 0.3s;
} */

 .sidebar {
    margin-bottom: 250%;
    height: 100%;
    width: 5rem;
    background-color: #0061ff;
  }
  
 
  .sidebar.close{
    width: 50px;
  }

  .sidebar.open{
    width: 100px;
  } 

  .collapse-item{
    margin-left: 30px;
  }

  .sidebar-container {
    position: fixed; /* or position: sticky; */
    width: 20px; 
    z-index: 1;
    margin-left: -225px;/* adjust the width as needed */
    height: 800px;
  }