

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="storein">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Demo Page</span></a>
        </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="manualStoreIn">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Manual Storein</span></a>
        </li>
  
          <!-- Divider -->
  <hr class="sidebar-divider">
  <li class="nav-item active">
      <a class="nav-link" href="materialMaster">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Material Master</span></a>
  </li>
  
  
  <hr class="sidebar-divider">
  <li class="nav-item active">
      <a class="nav-link" href="vendorMaster">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Vendor Master</span></a>
  </li>
  
  
  
  <hr class="sidebar-divider">
  <li class="nav-item active">
      <a class="nav-link" href="tableConfiguration">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>table Configuration</span></a>
  </li>
  
  
  <!-- Divider -->
  <hr class="sidebar-divider">
        <!-- Heading -->
        <!-- <div class="sidebar-heading">
            Interface
        </div> -->
  
       
       
  
    </ul>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
  
                <!-- Topbar Search -->
                <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <!-- <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div> -->
  
                    <div class="search-wrapper">
                        <input class="search-input" type="text" placeholder="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search " style="
                        color: black;" viewBox="0 0 24 24">
                          <defs></defs>
                          <circle cx="11" cy="11" r="8"></circle>fw
                          <path d="M21 21l-4.35-4.35"></path>
                        </svg>
                      </div>
                </form>
  
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
  
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
  
                    <!-- Nav Item - Alerts -->
                    <!-- <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                     
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li> -->
  
                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell" style="color: black;">
                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                          Notification
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="assets/img/undraw_profile_1.svg"
                                        alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">FORK NOT CENTER ERROR</div>
                                    <div class="small text-gray-500">Crane 1 multifunctioned.</div>
                                    <div class="small text-gray-500">Cause: Unknown</div>
                                    <div class="small text-gray-500">33% expected productivity loss</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="assets/img/undraw_profile_2.svg"
                                        alt="...">
                                    <div class="status-indicator"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">FORK NOT CENTER ERROR</div>
                                    <div class="small text-gray-500">Crane 1 multifunctioned.</div>
                                    <div class="small text-gray-500">Cause: Unknown</div>
                                    <div class="small text-gray-500">33% expected productivity loss</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="assets/img/undraw_profile_3.svg"
                                        alt="...">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">FORK NOT CENTER ERROR</div>
                                    <div class="small text-gray-500">Crane 1 multifunctioned.</div>
                                    <div class="small text-gray-500">Cause: Unknown</div>
                                    <div class="small text-gray-500">33% expected productivity loss</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>
  
                    <div class="topbar-divider d-none d-sm-block"></div>
  
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                src="assets/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
  
                </ul>
  
            </nav>
            <!-- End of Topbar -->
  
            <!-- Begin Page Content -->
            <div class="container-fluid">
  
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Table </h1>
                   
                </div>
                
            
  
                <!-- Content Row -->
  
                <div class="row">
  
                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Table Data Entry</h6>
                                
  
  
                            </div>
                            
                            <!-- Card Body -->
                            <div class="card-body">
                                <div clas="container" style="">
                                   
         
		      <div id="form-content" class="col-md-8">
            
                <form id="survey-form" onsubmit="return false;"> <!-- open form -->
                                    
                    <div class="row form-group">
                       <div class="col-sm-3">
                        <label class="control-label" for="clientName">Client Name:</label>
                       </div>
                      
                       <div class="input-group col-sm-9">
                        <select class="form-control">
                            <option value="">Client Name</option>
                            <option *ngFor="let name of clientName">{{name}}</option>
                        </select>
                       </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="clientName">Page Name:</label>
                        </div>
                       
                        <div class="input-group col-sm-9">
                         <select class="form-control">
                            <option value="">Page Name</option>
                            <option *ngFor="let page of pageName">{{page}}</option>
                         </select>
                        </div>
                     </div>


                     <div class="row form-group">
                        <div class="col-sm-3">
                            <label class="control-label" for="clientName">Database Table:</label>
                        </div>
                       
                        <div class="input-group col-sm-9">
                         <select class="form-control">
                            <option value="">Database Table</option>
            <option *ngFor="let tablename of databaseTable">{{tablename}}</option>
       
                         </select>
                        </div>
                     </div>
                 

                  
                     
                   
                     
                  
                     
                
               
             
                     
                 
                     
                
                    
                  <!-- <div class="form-group row">
                    <div class="col-sm-12 submit-button">
                      <button type="submit" id="submit" class="btn btn-default" aria-pressed="true">Submit Form</button>
                    </div>
                  </div> -->
                                   
                </form> <!-- close form -->


                <form [formGroup]="tableConfigForm">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Coloumn Name</th>
                                <th>Display Text</th>
                                <th>Display Type</th>
                                <th>Is Required</th>
                                <th>Readonly</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>PRODUCT</td>
                                <td><input type="text"></td>
                                <td>
                                    <select>
                                        <option>tablename</option>
                                    </select>
                                </td>
                                <td><input type="checkbox"></td>
                                <td><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
    
                </div> <!-- close form content div -->
                            </div>
                        </div>
                        </div>
                    </div>
  
                
                </div>
  
               
  
            </div>
            <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
  </div>
  
 
      
  




<!-- <div class="form-group row" style="    color: #080808;">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <label class="control-label col-sm-6" for="clientName">Client Name:</label>
        <select>
            <option value="">Client Name</option>
            <option *ngFor="let name of clientName">{{name}}</option>
        </select>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <label class="control-label col-sm-6" for="clientName">Page Name:</label>
        <select>
            <option value="">Page Name</option>
            <option *ngFor="let page of pageName">{{page}}</option>
        </select>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <label class="control-label col-sm-6" for="clientName">Database Table:</label>
        <select>
            <option value="">Database Table</option>
            <option *ngFor="let tablename of databaseTable">{{tablename}}</option>
        </select>
    </div>
</div>

<form [formGroup]="tableConfigForm">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Coloumn Name</th>
                <th>Display Text</th>
                <th>Display Type</th>
                <th>Is Required</th>
                <th>Readonly</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>PRODUCT</td>
                <td><input type="text"></td>
                <td>
                    <select>
                        <option>tablename</option>
                    </select>
                </td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>
</form> -->
