label {
    display: inline-block;
  
    font-size: 16px;
    color: #0a0a0a;
    font-weight: 600;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: auto;
  min-width: 0;
  margin-bottom: 0;
}