<footer class="sticky-footer bg-white" height="100" style="margin-right: -150px; bottom: -284px; position: relative;" >
    <div class="container my-auto">
      <div class="footer-text" id="footer">
        <!--<span>Copyright &copy; Your Website 2021</span> -->
        <P style="text-align: right;" class="footerword" id="text">Design And Devloped By <span style="color:#0061FF">Godrej Koerber</span> Supply Chain Limited </P>
       </div>
    </div>
</footer>

<!-- <footer class="sticky-footer">
  <div class="container">
    <div class="footer-text">
      <img class="footer-logo" src="assets/img/godrej logo.png" alt="mainlogo"><p>Design And Developed By <span style="color: #0061FF">Godrej Korber</span></p>
    </div>
  </div>
</footer> -->
