<div id="wrapper">

    <!-- Sidebar -->
    <app-tata-cummins-sidebar></app-tata-cummins-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <app-navbar></app-navbar>
            <!-- Topbar -->
            <app-breadcrumb-nav [child_page]="pageName"></app-breadcrumb-nav> 
            <!-- End of Topbar -->

            <!-- <app-breadcrumb-nav [child_page]="pageName"></app-breadcrumb-nav> -->



            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"> Store Out Process </h1>
                </div> -->
                <div class="d-sm-flex align-items-center mb-4"  style="margin-left: 20px">
                    <input
                        #fileUploadSimple
                        [accept]="'.csv'"
                        type="file"
                        class="file-input"
                        (change)="ReadExcel($event)"
                    />

                    <button   [disabled]="ExcelData.length == 0" type="submit"   class="btn btn-primary " (click)="uploadFile()">Upload File</button>
                </div>

                <!--Details grid start-->
                <div class="container-fluid">
                    <div class="tab-content">
                        <div id="storeout" class="">
                            <div class="card shadow mb-4">
                                <div class="card-header d-sm-flex py-3 justify-content-between ">
                                    <h6 class="m-0 font-weight-bold" style="color:#fff; padding: 5px 0 0 0;">Order
                                        Details :
                                    </h6>
                                    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i Class="fas fa-download fa-sm text-white-50"></i> Export Excel</a> -->
                                </div>
    
                                <div class="card-body">
                                    <label>Total Orders :
                                        <span>{{order_details.length}}</span>
                                        <!-- <select [(ngModel)]="orderItemsPerPage">
                                            <option *ngFor="let size of orderPageSizeOptions" [value]="size">{{size}}</option>
                                        </select>
                                        entries -->
                                    </label>
          
                                        <input type="text" [(ngModel)]="term" placeholder="Search" style="margin-left: 750px">
                                    <div class="table-responsive" style="height: 320px;">
                                        
                                        <table  class="table table-bordered" id="" width="124%" cellspacing="0" style="width: 124%;" >
                                            <thead>
                                                <tr style="background-color:  #eeebf6; color: #361374;">
                                                    <th class="sticky-footer" style="width: 1%; background-color: #eeebf6;">No</th>
                                                    <th class="sticky-1 back-head1 "   style="width: 1%; background-color: #eeebf6;">Select</th>
                                                    <th class="sticky-2 back-head2 "  style="width: 4%; background-color: #eeebf6;" >Order Id</th>
                                                    <th style="width: 6%;">Org Name</th>
                                                    <th style="width: 6%;">PickList No</th>                                                    
                                                    <th style="width: 6%;">Part No</th>
                                                    <th style="width: 6%;">Gr No</th>
                                                    <th style="width: 5%;">QTY</th>
                                                    <th style="width: 5%;">Date</th>                                                    
                                                    <th style="width: 2%;">Status</th>
                                                    <th style="width: 5%;">PAR1</th>
                                                    <th style="width: 5%;">PAR2</th>
                                                     
                                                </tr>
                                            </thead>
    
                                            <tbody>
                                                <tr *ngFor="let data of order_details | filter: term; let i=index">
                                                    <td class="sticky-footer">{{i+(orderItemsPerPage*orderPageSize)-(orderItemsPerPage-1)}}</td>
                                                    <td class="sticky-1 back-head1"> <input type="checkbox" [checked]="data.ORD_ID == order_id"    (change)="onSelectOrderDetail_Multi(data)"></td>
                                                    <!-- <td> <input type="checkbox"  (change)="onSelectOrderDetail_1(data)"></td> -->
                                                    <td class="sticky-2 back-head2">{{data.ORD_ID}}</td>
                                                    <td>{{data.ORD_SUPL_COD}}</td>
                                                    <td>{{data?.ORD_REC_POS}}</td>
                                                    <td>{{data.ORD_PRD_COD}}</td>
                                                    <td>{{data.ORD_REC_NR}}</td>
                                                    <td>{{data.ORD_REQ_QTY}}</td>
                                                    <td>{{data.ORD_DT_DEF | date}}</td>
                                                    <td>{{data.ORD_ITM_STAT}}</td>
                                                    <td>{{data.ORD_PAR1}}</td>
                                                    <td>{{data.ORD_PAR2}}</td>
                                                </tr>
                                           </tbody>
                                        </table>

                                        
                                        
                                    </div>
                                    
                                    <!-- <pagination-controls (pageChange)="orderPageSize  =  $event"></pagination-controls> -->
                                        <div class="form-group row">
                                            <div class="col-lg-1 "></div>
                                            
                                            <div class="col-lg-10   submit-button">
                                                <button  [disabled]="checkList == 0" type="submit" class="btn btn-primary "
                                                    style=" padding: 7px 40px 7px 40px;margin-left: 380px;" (click)="onAddFetchPallet()">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Details grid start-->
            <div class="container-fluid">
                <div class="tab-content">
                    <div id="storeout" class="">
                        <div class="card shadow mb-4">
                            <div class="card-header d-sm-flex py-3 justify-content-between ">
                                <h6 class="m-0 font-weight-bold" style="color:#fff; padding: 5px 0 0 0;">Pallet
                                    Details :
                                </h6>
                                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i Class="fas fa-download fa-sm text-white-50"></i> Export Excel</a> -->
                            </div>

                            <div class="card-body">

                                
                                <label>Total Orders:
                                    <span>{{pallet.length}}</span>
                                    <!-- <select [(ngModel)]="itemsPerPage">
                                        <option *ngFor="let option of pageSizeOptions" [value]="option">{{option}}</option>
                                    </select>
                                    entries -->
                                </label>
      
                                    <input type="text" [(ngModel)]="term" placeholder="Search" style="margin-left: 750px">
                                 
                                <div class="table-responsive" style="display: block; width: 100%; overflow-x: scroll; overflow-y: scroll; height: 273px;">
                                    
                                    <table class="table table-bordered" id="" width="100%" cellspacing="0" style="width: 120%;">
                                        <thead>
                                            <tr style="background-color:  #eeebf6; color: #361374;">
                                                <!-- <th>Select</th> -->
                                                <th style="width: 2%;">No</th>
                                                <th style="width: 5%; ">Pallet Id</th>
                                                <th style="width: 6%; ">Order Id</th>
                                                <th style="width: 6%;">Org Name</th>
                                                <th style="width: 10%;">PickList No</th>
                                                <th style="width: 8%;">Part No</th>
                                                <th style="width: 15%;">Part Description</th>
                                                <th style="width: 5%;">Quantity</th>
                                                <th style="width: 5%;">Reserved Qty</th>
                                                <th style="width: 3%;">Aisle</th>
                                                <th style="width: 3%;">X</th>
                                                <th style="width: 3%;">Y</th>
                                                <th style="width: 3%;">Z</th>
                                                <th style="width: 3%;">P</th>
                                                
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor = "let item of pallet | filter: pallet_search; let i=index">
                                                <!-- <td> <input type="checkbox"></td> -->
                                                <td>{{i+(itemsPerPage*pageSize)-(itemsPerPage-1)}}</td>
                                                <td>{{item.HU_ID}}</td>
                                                <td>{{item.id_ord}}</td>
                                                <td>{{item.STK_SUPL_COD}}</td>
                                                <td>{{item.ord_pos}}</td>
                                                <td>{{item.STK_PRD_COD}}</td>
                                                <td>{{item.PRD_DESC}}</td>
                                                <td>{{item.STK_PRD_QTY}}</td>
                                                <td>{{item.cal_qty}}</td>
                                                <td>{{item.LOC_AISL_ID}}</td>
                                                <td>{{item.LOC_X}}</td>
                                                <td>{{item.LOC_Y}}</td>
                                                <td>{{item.LOC_Z}}</td>
                                                <td>{{item.LOC_P}}</td>
                                            </tr>
                                       </tbody>
                                    </table>
                                    
                                    <!-- <pagination-controls (pageChange)="pageSize  =  $event"></pagination-controls> -->
                                </div>
                                <!-- <pagination-controls (pageChange)="pageSize  =  $event"></pagination-controls> -->
                                <div class="form-group row">
                                    <div class="col-lg-1 "></div>
                                    <div class="col-lg-10   submit-button" style="margin-left:410PX;">
                                        <button   [disabled]="pallet.length == 0" type="submit" class="btn btn-primary "
                                            style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;" (click)="confirmationAlert()">
                                            Confirm
                                        </button>
                                        <button [disabled]="pallet.length == 0" type="submit" class="btn btn-primary "
                                            style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;" (click)="resetAlert()">
                                            Reset
                                        </button>
                                    </div>
                                </div>
                           </div>
                    </div>
                </div>
            </div>
            <!-- Details grid end -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
