<div id="wrapper">

    <!-- Sidebar -->
    <app-tata-cummins-sidebar></app-tata-cummins-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-navbar></app-navbar>
            <!-- End of Topbar -->

            <!-- <app-breadcrumb-nav [child_page]="pageName"></app-breadcrumb-nav> -->



            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"> Store Out Process </h1>
                </div>


                <!--Details grid start-->
                <div class="container-fluid">
                    <div class="tab-content">
                        <div id="storeout" class="">
                            <div class="card shadow mb-4">
                                <div class="card-header d-sm-flex py-3 justify-content-between ">
                                    <h6 class="m-0 font-weight-bold" style="color:#fff; padding: 5px 0 0 0;">Order
                                        Details :
                                    </h6>
                                    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i Class="fas fa-download fa-sm text-white-50"></i> Export Excel</a> -->
                                </div>
    
                                <div class="card-body">
                                    <label>Show:
                                        <select>
                                            <option></option>
                                        </select>
                                        entries
                                    </label>
          
                                        <input type="text" placeholder="search" style="margin-left: 709px">
                                    <div class="table-responsive">
                                        
                                        <table class="table table-bordered" id="" width="100%" cellspacing="0">
                                            <thead>
                                                <tr style="background-color:  #eeebf6; color: #361374;">
                                                    <th>Select</th>
                                                    <th>Ord_Id</th>
                                                    <th>PickList No</th>                                                    
                                                    <th>Part No</th>
                                                    
                                                    <th>QTY</th>
                                                    <th>Date</th>                                                    
                                                    <th>Status</th>
            
                                                </tr>
                                            </thead>
    
                                            <tbody>
                                                <tr *ngFor="let data of storeOutData">
                                                    <td> <input type="checkbox" [checked]="data.ORD_ID == order_id"    (change)="onSelectOrderDetail(data)"></td>
                                                    <td>{{data.ORD_ID}}</td>
                                                    <td>{{data.ORD_REC_POS}}</td>
                                                    <td>{{data.ORD_PRD_COD}}</td>
                                                    
                                                    <td>{{data.ORD_REQ_QTY}}</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                           </tbody>
                                        </table>
                                        <div class="form-group row">
                                            <div class="col-lg-1 "></div>
                                            <div class="col-lg-10   submit-button">
                                                <button type="submit" class="btn btn-primary "
                                                    style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- Details grid end -->

                <!-- Content Row -->
                <!-- <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
        
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">heading:</h6>
                            </div>

                            
                            <div class="card-body">
                                <div clas="container">
                                    <div id="form-content" class="col-md-12">
                                        
                                            
                                            <div class="form-group row">
                                                <div class="col-lg-1 "></div>
                                                <div class="col-lg-10   submit-button">
                                                    <button type="submit" class="btn btn-primary "
                                                        style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;">
                                                        Add
                                                    </button>
                                                    <button type="submit" class="btn btn-info "
                                                        style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;">
                                                        Confirm  
                                                    </button>
                                                    <button type="submit" class="btn btn-primary "
                                                        style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;">
                                                        Return
                                                    </button>
                                                    <button type="submit" class=" btn btn-info"
                                                        style="padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;">
                                                        Reset
                                                    </button>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>


            <!--Details grid start-->
            <div class="container-fluid">
                <div class="tab-content">
                    <div id="storeout" class="">
                        <div class="card shadow mb-4">
                            <div class="card-header d-sm-flex py-3 justify-content-between ">
                                <h6 class="m-0 font-weight-bold" style="color:#fff; padding: 5px 0 0 0;">Pallet
                                    Details :
                                </h6>
                                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i Class="fas fa-download fa-sm text-white-50"></i> Export Excel</a> -->
                            </div>

                            <div class="card-body">
                                <label>Show:
                                    <select>
                                        <option></option>
                                    </select>
                                    entries
                                </label>
      
                                    <input type="text" placeholder="search" style="margin-left: 709px">
                                <div class="table-responsive">
                                    
                                    <table class="table table-bordered" id="" width="100%" cellspacing="0">
                                        <thead>
                                            <tr style="background-color:  #eeebf6; color: #361374;">
                                                <!-- <th>Select</th> -->
                                                <th>Pallet Id</th>
                                                <th>PickList No</th>
                                                <th>Part No</th>
                                                <th>Part Description</th>
                                                <th>Quantity</th>
                                                <th>Aisle</th>
                                                <th>X</th>
                                                <th>Y</th>
                                                <th>Z</th>
                                                <th>P</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <!-- <td> <input type="checkbox"></td> -->
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                       </tbody>
                                    </table>
                                    <div class="form-group row">
                                        <div class="col-lg-1 "></div>
                                        <div class="col-lg-10   submit-button">
                                            <button type="submit" class="btn btn-primary "
                                                style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;">
                                                Confirm
                                            </button>
                                            <button type="submit" class="btn btn-primary "
                                                style=" padding: 7px 40px 7px 40px;margin: 0 10px 0 1px;">
                                                Reset
                                            </button>
                                        </div>
                                    </div>
                                    <pagination-controls (pageChange)="pageSize  =  $event"></pagination-controls>
                                </div>
                           </div>
                    </div>
                </div>
            </div>
            <!-- Details grid end -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
